.color>div{
    color:black;
    text-align: center;
    padding: 20px 0px;
    margin: 5px 0px;
}
    h1{
        text-align: center;
    }

.navbar{
    background-color:#4caf50;
}
      
.menu{
   background-color: rgb(161, 80, 161);
   float: left;
   width: 33.33%;height: 200px;   
}
.content{
   background-color: rgb(12, 225, 240);
   float: left;
   width: 33.33%;height: 200px; 
}
.sidebar{
background-color:rgb(194, 144, 6);
float: left;
width: 33.33%;height: 200px;
}
.footer{
       padding: 10px;
       background-color:rgb(190, 68, 23);
    clear: both;      
}