@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    background-repeat:no-repeat;
    background-size:cover;
}
.top{ 
      padding-top: -15px;
     h1{
         color:whitesmoke;
        font-size:35px;
    }
       h2{
        color:white;
        font-size:x-large;
        font-family:cursive
        
    }
}
img{
    float: top;
    padding: auto;
    background-color: white;
}

.vk{
    h2{
         margin-right: 50pX; 
        font-family: 'Times New Roman', Times, serif;
      color:whitesmoke  ;
    }
    }
  .vk2
  {  
    h2,h3,h1{
      margin-left: 10px;
   font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;    
    }
    
}

    .shadow{
        box-shadow:1px 1px 20px black;
    }
.about
{
    
    table{
        color:black;
        font-family:sans-serif;
        font-size:x-large;      
    }
}
.gallery
{
    display:flex;
    gap: 1rem;
    height: 500px;
    width: 1000px;
 }
.gallery>div{
    flex: 1;
    transition: all 1s;
}
 .gallery>div:nth-child(1){
    background:url("leg.jpg");
    background-position: center;
    background-size: cover;   
 }   
 .gallery>div:nth-child(2){
    background:url("cheast.jpg");
    background-position: center;
    background-size: cover;

}
.gallery>div:nth-child(3){
    background:url("machine.jpg");
    background-position: center;
    background-size: cover;
}
.gallery>div:nth-child(4){
    background:url("back.jpg");
    background-position: center;
    background-size: cover;
}
.gallery>div:nth-child(5){
    background:url("workout.jpg");
    background-position: center;
    background-size: cover;
}
.gallery>div:nth-child(6){
    background:url("workout2.jpg");
    background-position: center;
    background-size: cover;
}

.gallery>div:nth-child(7){
    background:url("workout3.jpg");
    background-position: center;
    background-size: cover;
}
.gallery> div:hover{
    flex: 15;
}
.get{
    table{
        text-shadow: 2px 1px darkcyan;
        font-style: italic;  
     }
}
:root{
    --bg-color:#f1f1f1;
    --text:#333;
    --white:#fff;
    --active:#DCDCDC;
    --active-dark:#D3D3D3
    --normal:#555;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
    background-color:#000000;
    a{
        text-decoration: none;
        color: white;
    }
}
.logo{
    cursor:pointer;
    font-size: 30px;
    letter-spacing: 1px;
    text-transform:capitalize;
    font-weight: bold;
    color: #fff;
    margin-right:auto;
}
.page{
    font-family: "Playfair Display", serif;
    margin: 0;padding: 0;
    list-style: none;
    }
.page li{
    display: inline-block;
    padding: 0px 20px;
    font-size: 18px;
}    
.page li a.active{
    color: var(--active);
    transition: 0.5s;
}
.page li a:hover{
    color:#696969;
    
    transition: ease-in-out 1s;

}
.active{
    padding:15px 25px;
    background-color:#808080;
    border-radius: 50px;
    color: white;
    transition: 0.5s;
}
.active:hover{
    background-color:#2F4F4F;
}
.home{
    text-transform: uppercase;
    text-align: left;
    margin: 30px;
    padding: 25px;
    color: #DCDCDC;
}
.home h1{
    color:whitesmoke;
    letter-spacing: 10px;
    font-size: 80px;
    font-weight: bold;
}
.home  h1:hover {
    color:gray;
    text-shadow: #DCDCDC 2px 1px;
    transition: ease-in-out 5ms;
}
.home h3{
    font-size:40px;
    font-weight:bold;
}
.home h4{
    font-size: 20px;
    text-transform: capitalize;
}



